layout {
    pane size=1 borderless=true {
        plugin location="file:/home/tcunnen/.zellij-plugins/zjstatus.wasm" {
            format_left  "#[fg=#89B4FA,bold]{session}{mode} {tabs}"
            format_right "{datetime}"
            format_space ""

            border_enabled  "false"
            border_char     "─"
            border_format   "#[fg=#6C7086]{char}"
            border_position "bottom"

            hide_frame_for_single_pane "true"

            mode_normal        "#[fg=#2AC3DE,bold] {name}"
            mode_locked        "#[fg=#6C7086,bold] {name}"
            mode_resize        "#[fg=#9D7CD8,bold] {name}"
            mode_pane          "#[fg=#FF9E64,bold] {name}"
            mode_tab           "#[fg=#FF9E64,bold] {name}"
            mode_scroll        "#[fg=#E0AF68,bold] {name}"
            mode_enter_search  "#[fg=#FF9E64,bold] {name}"
            mode_search        "#[fg=#FF9E64,bold] {name}"
            mode_rename_tab    "#[fg=#FF9E64,bold] {name}"
            mode_rename_pane   "#[fg=#FF9E64,bold] {name}"
            mode_move          "#[fg=#F7768E,bold] {name}"
            mode_prompt        "#[fg=#89B4FA,bold] {name}"

            tab_normal   "#[fg=#6C7086] {name} "
            tab_active   "#[fg=#9399B2,bold,italic] {name} "

            datetime        "#[fg=#6C7086,bold] {format} "
            datetime_format "%H:%M"
            datetime_timezone "Europe/Amsterdam"
        }
    }

    pane split_direction="vertical" {
        pane
    }
}
