/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

/** Colors *******************************************/
/* $bg:#171a21; */
/* $bg-alt:#1b2838; */
/* $fg:#2a475e; */
/* $highlight:#66c0f4; */
/* $light:#c7d5e0; */

* {
  font-family: "Meslo", FontAwesome;
  font-weight: bold;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: transparent;
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 16px;
  font-size: 16px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  margin: 5px;
  padding: 2px;
  background-color: #171a21;
  border-radius: 16px;
  font-size: 18px;
}

#workspaces button {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  transition: all 0.3s ease-in-out;
  color: #66c0f4 ;
}

#workspaces button:hover {
  color: #66c0f4;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  margin:0px;
  padding:20px;
  background-color: #2a475e;
  border-radius: 16px;
  border: 3px solid #66c0f4;
}

/* -----------------------------------------------------
 * Modules Right
 * ----------------------------------------------------- */
.modules-right {
  margin: 5px;
  padding: 5px;
  background-color: #171a21;
  border-radius: 16px;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-powermenu button:hover {
  color: #66c0f4;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

/* $fg:#2a475e; */
/* $highlight:#66c0f4; */
#tray {
  padding: 5px;
  background-color: #2a475e;
  border-radius: 16px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
